<form style="max-width: 1200px; margin-left: auto; margin-right: auto">
  <fieldset class="uk-fieldset uk-margin-large-top uk-margin-large-bottom">
    <legend class="uk-legend">Modify</legend>
    <div class="uk-margin">
      <input class="uk-input" type="text" placeholder="title">
    </div>
    <div class="uk-margin">
      <textarea class="uk-textarea" rows="15" placeholder="Textarea"></textarea>
    </div>
    <div class="uk-align-right">
      <button class="uk-button uk-button-primary">save</button>
      <button class="uk-button uk-button-danger" routerLink="/board-list">cancel</button>
    </div>
  </fieldset>
</form>