<table class="uk-table uk-table-hover uk-table-divider uk-margin-medium-top uk-margin-xlarge-bottom" style="max-width: 1200px; margin-left: auto; margin-right: auto">
  <caption>
    <h2>Free Board</h2>
    <a uk-icon="file-edit" class="uk-text-primary uk-align-right" routerLink="/board-insert"></a>
  </caption>
  <thead>
    <tr>
      <th class="uk-width-small">date</th>
      <th class="uk-table-expand">Title</th>
      <th class="uk-width-small">Writer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts.slice().reverse()">
      <td>{{post.saveDate}}</td>
      <td>
        <a class="uk-link-reset" routerLink="/board-detail/{{post.id}}">{{post.title}}</a>
      </td>
      <td>{{post.name}}</td>
    </tr>
  </tbody>
</table>