<article class="uk-article uk-margin-medium-top" style="max-width: 1200px; margin-left: auto; margin-right: auto">
  <button class="uk-button uk-button-default uk-button-small uk-text-primary uk-align-right" routerLink="/board-list">list</button>
  <h1 class="uk-article-title"><a class="uk-link-reset" href="">Heading</a></h1>
  <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <div class="uk-grid-small uk-child-width-auto uk-align-right uk-margin-large-top">
    <div class="uk-margin-large-bottom uk-margin-medium-top">
      <a uk-icon="trash" class="uk-text-danger"></a>
      <a uk-icon="file-edit" class="uk-text-primary" routerLink="/board-edit"></a>
    </div>
  </div>
</article>
<form style="max-width: 1200px; margin-left: auto; margin-right: auto">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">comment</legend>
    <div class="uk-margin">
      <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
    </div>
    <div class="uk-align-right">
      <button class="uk-button uk-button-primary">save</button>
    </div>
  </fieldset>
</form>
<article class="uk-comment uk-comment-primary uk-margin-medium-bottom" style="max-width: 1200px; margin-left: auto; margin-right: auto">
  <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
    <div class="uk-width-expand">
      <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
      <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
        <li><a href="#">12 days ago</a></li>
        <li><a href="#">Reply</a></li>
      </ul>
    </div>
  </header>
  <div class="uk-comment-body">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
</article>