article {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#comment {
    font: .875rem/1.5 Consolas,monaco,monospace;
    color: #666;
    -moz-tab-size: 4;
    tab-size: 4;
    overflow: auto;
    padding: 0;
    border: 0;
    border-radius: 3px;
    background: #f8f8f8;
}
form {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}