<article class="uk-article uk-margin-medium-top">
  <button class="uk-button uk-button-default uk-button-small uk-text-primary uk-align-right" routerLink="/board-list">list</button>
  <h1 class="uk-article-title"><a class="uk-link-reset">{{post?.title}}</a></h1>
  <p class="uk-article-meta">Written by <a href="#">{{post?.name}}</a> on {{post?.saveDate}}.</p>
  <pre>{{post?.description}}</pre>
  <div class="uk-grid-small uk-child-width-auto uk-align-right uk-margin-large-top">
    <div class="uk-margin-large-bottom uk-margin-medium-top">
      <div *ngIf="userCheck">
          <a uk-icon="trash" class="uk-text-danger" (click)="delete()"></a>
          <a uk-icon="file-edit" class="uk-text-primary" routerLink="/board-edit/{{post?.id}}"></a>
      </div>
    </div>
  </div>
</article>
<form (ngSubmit)="onSubmit()">
  <fieldset class="uk-fieldset">
    <legend class="uk-legend">comment</legend>
    <div class="uk-margin">
      <textarea [(ngModel)]="comment" name="comment" class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
    </div>
    <div class="uk-align-right">
      <button type="submit" class="uk-button uk-button-primary">save</button>
    </div>
  </fieldset>
</form>
<article *ngFor="let comment of getComment" class="uk-comment uk-comment-primary uk-margin-small-bottom">
  <a class="uk-align-right" (click)="commentDelete(comment)" uk-icon="close"></a>
  <header class="uk-comment-header uk-grid-medium uk-flex-middle" uk-grid>
    <div class="uk-width-expand">
      <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{comment.name}}</a></h4>
      <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
        <li><a href="#">{{comment.saveDate}}</a></li>
      </ul>
    </div>
  </header>
  <div class="uk-comment-body">
    <pre id="comment">{{comment.description}}</pre>
  </div>
</article>