<form (ngSubmit)="onSubmit()" class="uk-align-center uk-margin-medium-top" >
  <img class="uk-margin-bottom uk-align-center" src="assets/images/logo.png" height="70" width="70" alt="">
  <fieldset class="uk-fieldset">
      <div class="uk-box-shadow-medium uk-padding">
      <legend class="uk-legend">Create Account</legend>
      <div class="uk-margin">
        <div class="uk-form-label">Name</div>
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <input class="uk-input" [(ngModel)]=user.name name="name" type="text" placeholder="Username">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-form-label">Email</div>
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: mail"></span>
          <input class="uk-input" [(ngModel)]=user.email name="email" type="email" placeholder="Usermail">
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-form-label">Password</div>
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: lock"></span>
          <input class="uk-input" [(ngModel)]=user.password name="password" type="password" placeholder="UserPassword">
        </div>
      </div>
      <div class="uk-margin uk-text-center">
        <button type="submit" class="uk-button uk-button-default uk-width-1-1">CREATE ACCOUNT</button>
      </div>
      <hr class="uk-divider-icon">
      <div class="uk-margin">
        <div class="uk-container">
          <label>
            Already have an account? 
            <a class="uk-link" routerLink="/sign-in">Sign IN <span uk-icon="icon: triangle-right"></span></a>
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</form>