<header style="background-color: #24292e; padding: 20px">
  <div style="max-width: 1200px; margin-left: auto; margin-right: auto" uk-grid>
    <div class="uk-witdh-auto" style="padding-left: inherit">
      <img src="assets/images/logo.png" height="70" width="70" alt="">
    </div>
    <div class="uk-width-expand uk-text-right">
      <a routerLink="/sign-in">Sign in</a>
      <span>or</span>
      <a routerLink="/sign-up">Sign up</a>
    </div>  
  </div>
</header>
<router-outlet></router-outlet>
<footer class="uk-background-muted" style="padding-left: 20px; padding-right: 20px;">
  <div class="" style="max-width: 1200px; margin-left: auto; margin-right: auto">
    <img class="uk-margin-medium-top uk-margin-medium-bottom" src="assets/images/logo.png" height="70" width="70" alt="">
  </div>
</footer>
