<header style="background-color: #24292e; padding: 20px">
  <div uk-grid>
    <div class="uk-witdh-auto">
      <img src="assets/images/logo.png" height="70" width="70" alt="">
    </div>
    <div class="uk-width-expand uk-text-right">
      <a href="#">Sign in</a>
      <span>or</span>
      <a href="#">Sign up</a>
    </div>  
  </div>
</header>
contects
<footer class="uk-background-muted" style="padding-left: 20px; padding-right: 20px;">
  <img class="uk-margin-medium-top uk-margin-medium-bottom" src="assets/images/logo.png" height="70" width="70" alt="">
</footer>
